# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
ios/.xcode.env.local
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
ios/*.app.dSYM.zip
ios/fastlane/report.xml
ios/debug.xcconfig
ios/release.xcconfig

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
android/app/src/debug/res/values/strings.xml
android/app/src/release/res/values/strings.xml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
android/app/libs
*.keystore
!debug.keystore
.env
.env.development
.env.production
coverage/

# Google login
google-services.json
GoogleService-Info.plist

# Ruby Gems / Bundle (Fastlane related)
/vendor/bundle/
.bundle/*
vendor/*
*.code-workspace

# Bundle artifact
*.jsbundle
*.jsbundle.map

# CocoaPods
/ios/Pods/

ios/codesigndoc_exports
.bitrise.secrets.yml

# Android / Android Studio. Just in case you build the project in this foler
android/gradle/.tmp/**
android/gradle/caches/**
android/gradle/wrapper/dists/**
android/gradle/daemon/**
android/gradle/native/**
android/gradle/kotlin-profile/**
