# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
ios/*.app.dSYM.zip
ios/fastlane/report.xml
ios/debug.xcconfig
ios/release.xcconfig

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
android/app/src/debug/res/values/strings.xml
android/app/src/release/res/values/strings.xml

# node.js
#
node_modules/
npm-debug.log

# BUCK
buck-out/
\.buckd/
android/app/libs
*.keystore
.env
.env.development
.env.production
coverage/

# Google login
google-services.json
GoogleService-Info.plist

# Ruby Gems / Bundle (Fastlane related)
.bundle/*
vendor/*
