<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hylo.hyloandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
      <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>
      <activity
          android:name=".SplashActivity"
          android:label="@string/app_name"
          android:theme="@style/SplashTheme"
          android:launchMode="singleTask">
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
      </activity>
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="@string/link_schema" />
            <data android:scheme="http" android:host="hylo.com" />
            <data android:scheme="https" android:host="hylo.com" />
            <data android:scheme="http" android:host="www.hylo.com" />
            <data android:scheme="https" android:host="www.hylo.com" />
            <data android:scheme="hyloapp" android:host="home" />
            <data android:scheme="hyloapp" />
        </intent-filter>
      </activity>
      <activity android:name=".OneSignalConfigActivity" android:launchMode="singleTop" />
        <service
          android:name="com.robinpowered.react.Intercom.IntercomIntentService"
          android:exported="false">
          <intent-filter
              android:priority="999">
              <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
          </intent-filter>
        </service>
    </application>
</manifest>
