# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
ios/.xcode.env.local
xcodebuild-output.log
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
ios/*.app.dSYM.zip
ios/debug.xcconfig
ios/release.xcconfig
ios/.xcode.env.local

# Ruby Gems / Bundle

/vendor/bundle/
.bundle/*
vendor/*
*.code-workspace

# Android/IntelliJ
#

build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
android/app/src/debug/res/values/strings.xml
android/app/src/release/res/values/strings.xml

# node.js
#
node_modules/
npm-debug.log

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log

# Google login
google-services.json
GoogleService-Info.plist

# Bundle artifact

*.jsbundle
*.jsbundle.map

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/

# Android / Android Studio. Just in case you build the project in this foler
android/gradle/.tmp/**
android/gradle/caches/**
android/gradle/wrapper/dists/**
android/gradle/daemon/**
android/gradle/native/**
android/gradle/kotlin-profile/**

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# expo
.expo

# env files
.env
.env.development
.env.production

.vscode/settings.json

ios/codesigndoc_exports
.bitrise.secrets.yml
